---
---

@import "{{ site.theme }}";

.page-header { 
  color: darkkhaki; 
  text-align: center; 
  background-image: url("http://www.mapping-ashford-2030-plan.com/assets/header.jpg");
  background-size: cover;
  background-position: center;
}
